---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/boddhisattva/ruby_test_task/issues?per_page=100&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5446c42c786928c833ed1265b9baa8f2b74fcd9ba2b3a02719f3dbb2fecbacda"
      X-Oauth-Scopes:
      - project, repo, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2025-08-25 08:04:46 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1754259371'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8","repository_url":"https://api.github.com/repos/boddhisattva/ruby_test_task","labels_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8/labels{/name}","comments_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8/comments","events_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8/events","html_url":"https://github.com/boddhisattva/ruby_test_task/pull/8","id":3287476909,"node_id":"PR_kwDOPVI8ys6h5tZj","number":8,"title":"Implement
        basic list GitHub issues api","user":{"login":"boddhisattva","id":655963,"node_id":"MDQ6VXNlcjY1NTk2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/655963?v=4","gravatar_id":"","url":"https://api.github.com/users/boddhisattva","html_url":"https://github.com/boddhisattva","followers_url":"https://api.github.com/users/boddhisattva/followers","following_url":"https://api.github.com/users/boddhisattva/following{/other_user}","gists_url":"https://api.github.com/users/boddhisattva/gists{/gist_id}","starred_url":"https://api.github.com/users/boddhisattva/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/boddhisattva/subscriptions","organizations_url":"https://api.github.com/users/boddhisattva/orgs","repos_url":"https://api.github.com/users/boddhisattva/repos","events_url":"https://api.github.com/users/boddhisattva/events{/privacy}","received_events_url":"https://api.github.com/users/boddhisattva/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-08-03T19:37:44Z","updated_at":"2025-08-03T19:37:50Z","closed_at":"2025-08-03T19:37:49Z","author_association":"OWNER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/boddhisattva/ruby_test_task/pulls/8","html_url":"https://github.com/boddhisattva/ruby_test_task/pull/8","diff_url":"https://github.com/boddhisattva/ruby_test_task/pull/8.diff","patch_url":"https://github.com/boddhisattva/ruby_test_task/pull/8.patch","merged_at":"2025-08-03T19:37:49Z"},"body":"-
        Uses Alba for more performan JSON serialisation \r\n- Use Sidekiq to fetch
        issues in an async way\r\n","closed_by":{"login":"boddhisattva","id":655963,"node_id":"MDQ6VXNlcjY1NTk2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/655963?v=4","gravatar_id":"","url":"https://api.github.com/users/boddhisattva","html_url":"https://github.com/boddhisattva","followers_url":"https://api.github.com/users/boddhisattva/followers","following_url":"https://api.github.com/users/boddhisattva/following{/other_user}","gists_url":"https://api.github.com/users/boddhisattva/gists{/gist_id}","starred_url":"https://api.github.com/users/boddhisattva/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/boddhisattva/subscriptions","organizations_url":"https://api.github.com/users/boddhisattva/orgs","repos_url":"https://api.github.com/users/boddhisattva/repos","events_url":"https://api.github.com/users/boddhisattva/events{/privacy}","received_events_url":"https://api.github.com/users/boddhisattva/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/8/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/7","repository_url":"https://api.github.com/repos/boddhisattva/ruby_test_task","labels_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/7/labels{/name}","comments_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/7/comments","events_url":"https://api.github.com/repos/boddhisattva/ruby_test_task/issues/7/events","html_url":"https://github.com/boddhisattva/ruby_test_task/issues/7"[...]
